   * {
            margin: 0;
            padding: 0;
            overflow: hidden;
         }

         .button {
            width: 500px;
            height: 100px;
            padding: 10px; 
            display:block;
         }
         body {
            background-image: url('../assets/background.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #00FF55;
         }
         
         #text {
            position: absolute;
            left: 0px;
            top: 0px;
         }

         #inventory {
            position: absolute;
            left: calc(100% - 500px);
            top: 0px;
            z-index: 1;
            overflow: auto;
            height: 100%;
            background-color: #f0f0f0;
            border-width: 1px;
            border-color: grey;
            border-style: solid;
         }

         #fuseGui {
            position: fixed;
            left: calc(100% - 650px);
            top: 10px;

            overflow: auto;
            height: 100%;
         }

         #buyGui {
            position: fixed;
            left: calc(100% - 650px);
            top: 10px;

            overflow: auto;
            height: 100%;
         }
         
         #currentPickaxe {
            position: fixed;
            left: calc(100% - 650px);
            top: 100px;
         }

         #selectedPickaxe {
            position: fixed;
            left: calc(100% - 650px);
            top: 300px;
         }

         #pickaxeStatsGui {
            position: fixed;
            left: calc(100% - 500px - 200px);
            top: 0px;
            z-index: -1;
            height: 100%;
            width: 200px;
            background-color: #f0f0f0;

            border-width: 1px;
            border-color: grey;
            border-style: solid;
         }

         .pickaxeStatBar {
            height: 4px;
            margin: 10px;
            background-color:rgb(0,0,0);
         }
 
         #settings {
            z-index: 2;
            width: 100%;
            height: 100%;
            background-color: rgb(200, 200, 200, 0.5);
            position: fixed;
         }

         #confirmLoadGame {
            position: fixed;
            top: calc(50% - 30px);
            height: 60px;
            left: calc(50% - 120px);
            width: 100px;
         }

         #saveGameButton {
            position: fixed;
            top: calc(50% - 30px);
            height: 60px;
            left: calc(50% + 20px);
            width: 100px;
         }

         #newGameButton {
            position: fixed;
            top: calc(50% - 30px);
            height: 60px;
            left: calc(50% + 20px);
            width: 100px;
         }

         #resumeButton {
            position: fixed;
            bottom: 20px;
            height: 60px;
            left: calc(50% - 50px);
            width: 100px;
         }

         #saveSlot {
            position: fixed;
            top: calc(50% + 50px);
            left: calc(50% - 100px);
            text-align: center;
         }

         #confirmLoadGameText {
            position: fixed;
            top: calc(50% + 100px);
            left: calc(50% - 150px);
            text-align: center;
            width: 300px;
         }

         #saveSlotInput {
            width: 80px;
         }

         #invalidSaveSlot {
            color: red;
            font-weight: bold;
         }

         #worldNumberText {
            position: fixed;
            top: 20px;
            left: calc(50% - 160px);
            font-size: 2em;
            text-align: center;
         }